@font-face {
  font-family: "Oswald";
  src: url("path/to/oswald.woff2") format("woff2"),
    url("path/to/oswald.woff") format("woff");
  /* Add additional font formats and sources as needed */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

/* Add your custom CSS styles here */

/* Hide navigation links on screens below 640px */

@media screen and (max-width: 640px) {
  .content {
    transition: padding-top 0.3s ease;
  }

  .content.separated {
    padding-top: 120px;
  }
}
