---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import CV from "../assets/images/CV.pdf";
---

<Layout>
  <section
    class="bg-black w-auto h-screen text-white font-oswald text-lg font-light">
    <div class="grid place-items-center">
      <br />
      <div class="w-2/4 pt-14">
        <h1 class="font-bold text-3xl">About me</h1>
        <br />
        <p>
          My name is Leonardo Castillo and I enjoy creating software
          technologies. From very early on I got interested about computer
          science at the age of 13 years old, was really into hardware but then
          I got into programming at the age of 15. I tried many different areas
          like low level engineering, video game development, but then I found
          out web development, I fell in love by the fact of creating things
          that lives on the internet and people can see my work, since then I’ve
          never looked back at the decision I made choosing that area.
        </p>
        <br />
        <p>
          I’m very curious to explore and try new things, love the process for
          the things I do, grind myself in order to achieve my goals, I love
          connecting and working with other people I’m a big team player.
        </p>
        <br />
        <p>
          The big things I love about life are the fact that each circumstance
          is an opportunity to show my true potential and that I will never know
          everything, there’s always something new to experience, I can never
          get bored out of life.
        </p>
        <br />
        <button
          class="border-red-500 border-solid border-2 px-10 py-1 text-red-500 font-normal">
          <a href={CV} download="CV"> Curriculum Vitae (PDF)</a>
        </button>
      </div>
      <br />
    </div>
  </section>
</Layout>
