---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
  <section class="bg-black w-auto h-full text-white font-oswald content">
    <div class="grid place-items-center pt-20 pb-20">
      <div>
        <h1 class="font-bold text-3xl mb-2">Projects</h1>
        <p class="font-light lg:w-105 md:w-100 sp:w-85">
          I have several projects I have worked on for myself from a long time.
          These have taught me many lessons that I carry with me at anytime I’m
          working on something new. Truly a good journey experience.
        </p>
        <br />
        <div
          class="flex lg:flex-row lg:items-start lg:justify-center md:items-start md:justify-center md:flex-row sm:items-start sm:flex-col sp:items-start sp:flex-col gap-5">
          <div
            class="w-85 h-full border-white border-solid border-2 rounded text-left">
            <div class="mt-3 mx-5">
              <h1 class="underline">Weather app</h1>
              <div
                class="flex flex-col justify-center items-center font-normal py-2 w-50">
                <p class="font-light">
                  Provides detailed local forecast & weather forecast world
                  wide, the app provides the current temperature in Celsius,
                  sunrise and sunset time according to city time zone.
                  <br />
                  <br />
                  <span>Tech used: HTML, CSS, Typescript, React</span>
                </p>
                <div
                  class="flex gap-5 flex-row items-center justify-center mb-5 mt-10">
                  <div>
                    <button
                      class="border-red-500 border-solid border-2 px-10 py-1 text-red-500 font-normal transition ease-in delay-150 hover:-translate-y-1 hover:scale-110 duration-300 rounded"
                      ><a
                        href="https://weather-app-leocm889.netlify.app/"
                        target="_blank"
                        class="whitespace-nowrap">See Live</a
                      ></button
                    >
                  </div>
                  <div>
                    <button
                      class="bg-red-500 border-red-500 border-solid border-2 px-10 py-1 text-black font-normal transition ease-in delay-150 hover:-translate-y-1 hover:scale-110 duration-300 rounded"
                      ><a
                        href="https://github.com/LeoCM889/weather-app"
                        target="_blank"
                        class="whitespace-nowrap">Source Code</a
                      ></button
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="w-85 h-full border-white border-solid border-2 rounded text-left">
            <div class="mt-3 mx-5">
              <h1 class="underline">Calculator</h1>
              <div
                class="flex flex-col justify-center items-center font-normal py-2 w-50">
                <p class="font-light">
                  Designed to simplify numerical computations and enhance your
                  productivity. With its user-friendly interface and robust
                  functionality, CalculateEase offers an effortless way to
                  perform various calculations with precision and speed.
                  <br />
                  <br />
                  <span>Tech used: HTML, CSS, Typescript</span>
                </p>
                <div
                  class="flex gap-5 flex-row items-center justify-center mb-5 mt-10">
                  <div>
                    <button
                      class="border-red-500 border-solid border-2 px-10 py-1 text-red-500 font-normal transition ease-in delay-150 hover:-translate-y-1 hover:scale-110 duration-300 rounded"
                      ><a
                        href="https://calculator-leocm889.netlify.app/"
                        target="_blank"
                        class="whitespace-nowrap">See Live</a
                      ></button
                    >
                  </div>
                  <div>
                    <button
                      class="bg-red-500 border-red-500 border-solid border-2 px-10 py-1 text-black font-normal transition ease-in delay-150 hover:-translate-y-1 hover:scale-110 duration-300 rounded"
                      ><a
                        href="https://github.com/LeoCM889/calculator"
                        class="whitespace-nowrap"
                        target="_blank">Source Code</a
                      ></button
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
