---
import { Icon } from "astro-icon";
---

<footer class="bg-gray-100 font-oswald text-xl">
  <div
    class="flex lg:items-center lg:justify-center lg:flex-col md:items-center md:justify-center md:flex-col sm:items-center sm:justify-center sm:flex-col sp:items-center sp:flex-col sp:px-5">
    <div class="flex pt-7">
      <ul class="flex gap-14">
        <li>
          <a href="https://github.com/LeoCM889" target="_blank"
            ><Icon name="mdi:github" class="h=9 w-9 text-white" /></a
          >
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/leonardo-castillo-1aba82285/"
            target="_blank"
            ><Icon name="mdi:linkedin" class="h=9 w-9 text-white" /></a
          >
        </li>
        <li>
          <a href="mailto:leocm889@gmail.com" target="_blank"
            ><Icon name="mdi:gmail" class="h=9 w-9 text-white" /></a
          >
        </li>
      </ul>
    </div>
    <div class="pt-5 pb-5">
      <span class="text-white">
        Copyright 2023 | Leonardo Castillo | All Rights Reserved
      </span>
    </div>
  </div>
</footer>
