<header class="bg-black font-oswald text-xl">
  <div class="flex items-center justify-between h-16 mx-4">
    <div>
      <h2 class="text-red-500">Leonardo Castillo</h2>
    </div>
    <nav>
      <ul class="text-white flex gap-5 font-normal">
        <li><a href="/">Home</a></li>
        <li><a href="/skills">Skills</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
<hr class="bg-white border-0 h-px" />
