---
import { Icon } from "astro-icon";
---

<div
  class="bg-none text-white flex justify-center rotate-90 fixed bottom-20 right-16 origin-right">
  <div class="flex justify-center items-center font-oswald">
    <h3 class="text-xl">My Socials</h3>
  </div>
  <div class="flex justify-center items-center mx-7">
    <hr class="bg-white border-0 h-1.5 w-32 rounded" />
  </div>
  <nav>
    <div class="flex ml-12">
      <ul class="flex gap-5 flex-col -rotate-90">
        <li>
          <a href="https://github.com/LeoCM889" target="_blank"
            ><Icon name="mdi:github" class="h=9 w-9" /></a
          >
        </li>
        <li>
          <a href=""><Icon name="mdi:linkedin" class="h=9 w-9" /></a>
        </li>
        <li>
          <a href="leocm889@gmail.com"><Icon name="mdi:gmail" class="h=9 w-9" /></a>
        </li>
      </ul>
    </div>
  </nav>
</div>
